<h1>Matchup</h1>

<!--PUT IN CONDITIONAL FOR NOT HAVING RECIEVED CHARACTERS YET-->
<!--VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV-->

<!--<input type="text" name="player1" id="player1">-->
<!--<input type="text" name="player2" id="player2">-->

<%= autocomplete_field_tag :player1, params[:player1], matchup_autocomplete_character_name_path, {class: "search-query", placeholder: "", type: "search"} %> 
<%= autocomplete_field_tag :player2, params[:player2], matchup_autocomplete_character_name_path, {class: "search-query", placeholder: "", type: "search"} %> 
<button class="btn btn-primary" id="get_matchup">Get Matchup</button>

<div id="current_match"></div>