var retData = "<%= escape_javascript(render :partial => "current_match") %>";
if ($('#current_match').html() != retData) {
  console.log("not same");
  $("#current_match").html(retData);
} else {
  console.log("same");
}
