<h1 id="welcome_header">Welcome</h1>

<!--PUT IN CONDITIONAL FOR NOT HAVING RECIEVED CHARACTERS YET-->
<!--VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV-->

<div id="current_match"><%= render 'current_match' %></div>