<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<%= will_paginate @characters, :renderer => BootstrapPagination::Rails %>
<table class="table table-striped table-bordered table-hover">
  <thead>
   <tr>
      <th class="text"><%= sortable 'name' %></th>
      <th><%= sortable 'win_rate' %></th>
      <th><%= sortable 'matches_played' %></th>
      <th><%= sortable 'matches_won' %></th>
      <th><%= sortable 'matches_lost' %></th>
      <th></th>
    </tr> 
  </thead>
  <tbody>
    <% @characters.each do |character| %>
    <tr>
      <td><%= link_to character.name, character %></td>
      <td><%= (character.win_rate * BigDecimal.new(100)).to_s + '%' %></td>
      <td><%= character.matches_played %></td>
      <td><%= character.matches_won %></td>
      <td><%= character.matches_lost %></td>
      <td><%= link_to 'Delete', character, :method => :delete, data: {confirm: "Are you sure?"} %></td>
    </tr>
    <% end %>
  </tbody>
</table>