<h1>Characters</h1>

<%= form_tag characters_path, :method => 'get', :id => "characters_search" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
  <div id="characters"><%= render 'characters' %></div>
<% end %>
