<h1><%= @character.name %></h1>
<h3>General Stats</h3>
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Win Rate</th>
      <th>Matches Played</th>
      <th>Matches Won</th>
      <th>Matches Lost</th>
    </tr> 
  </thead>
  <tbody>
    <tr>
      <td><%= (@character.win_rate * BigDecimal.new(100)).to_s + '%' %></td>
      <td><%= @character.matches_played %></td>
      <td><%= @character.matches_won %></td>
      <td><%= @character.matches_lost %></td>
    </tr>
  </tbody>
</table>
<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="headingMatchups">
    <h3 class="panel-title">
      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseMatchups" aria-expanded="false" aria-controls="collapseMatchups">Matchups</a>
    </h3>
  </div>
  <div id="collapseMatchups" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingMatchups">
    <div class="panel-body">
      <table class="table table-striped table-bordered table-hover">
        <thead>
         <tr>
            <th class="text">Opponent Name</th>
            <th>Win Rate Against</th>
            <th>Matches Played With</th>
            <th>Matches Won Against</th>
            <th>Matches Lost To</th>
          </tr> 
        </thead>
        <tbody>
          <% @matchup_data.each_key do |opponent_id| %>
            <% opponent_data =  @matchup_data[opponent_id] %>
            <tr>
              <td><%= link_to opponent_data[:name], '/characters/' + opponent_id.to_s %></td>
              <td><%= (opponent_data[:win_rate] * BigDecimal.new(100)).to_s + '%' %></td>
              <td><%= opponent_data[:matches_played] %></td>
              <td><%= opponent_data[:matches_won] %></td>
              <td><%= opponent_data[:matches_lost] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="headingWinrate">
    <h3 class="panel-title">
      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseWinrate" aria-expanded="true" aria-controls="collapseWinrate">Win Rate by Week</a>
    </h3>
  </div>
  <div id="collapseWinrate" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingWinrate">
    <div class="panel-body">
      <%= line_chart @win_rate_by_week, discrete: true, max: 1, ytitle: 'Win Rate', library: {vAxis: {format: 'percent'}} %>
    </div>
  </div>
</div>

<!--Can iterate each key and find value of matches won / matches lost then store in new hash for line graph presentation-->
