<h1>Matches</h1>
<%= will_paginate @matches, :renderer => BootstrapPagination::Rails %>
<!--<button class="btn btn-primary" id="transfer_to_prod">Transfer to Prod</button>-->
<table class="table table-striped table-bordered table-hover">
    <thead>
       <tr>
            <th>player1</th>
            <th>player2</th>
            <th>victor</th>
            <th></th>
        </tr> 
    </thead>
    <tbody>
        <% @matches.each do |match| %>
        <tr>
            <td><%= link_to match.player1.name, match.player1 %></td>
            <td><%= link_to match.player2.name, match.player2 %></td>
            <td><%= link_to match.victor.name, match.victor %></td>
            <td><%= link_to 'Delete', match, :method => :delete, data: {confirm: "Are you sure?"} %></td>
        </tr>
        <% end %>
    </tbody>
</table>