<%= form_for :match, url: matches_path do |f| %>
  <p>
    <%= f.collection_select :player1_id, Character.order(:name),:id,:name %>
  </p>
  <p>
    <%= f.collection_select :player2_id, Character.order(:name),:id,:name %>
  </p>
  <p>
    <%= f.collection_select :victor_id, Character.order(:name),:id,:name %>
  </p>
  
  <p>
    <%= f.submit %>
  </p>
<% end %>