// select the target node
var target = document.querySelector('#betstatus');

var ready = true;

// create an observer instance
var observer = new MutationObserver(function(mutations) {
  mutations.forEach(function(mutation) {
    var victor = $('#betstatus').html();
    if(victor.indexOf("Bets are OPEN!") != -1 && ready) {
      // var player1 = $('#player1').text();
      // var player2 = $('#player2').text();
      var player1 = $('#sbettors1 .redtext strong').text();
      var player2 = $('#sbettors2 .bluetext strong').text()
      console.log(player1 + ' ' + player2);
      $.post( '<%= ENV["SCRIPT_URL"] %>/webcalls/current_match', { player1: player1, player2: player2 } );
      ready = false;
      setTimeout(function(){ready = true;}, 2000);
    }
  });    
});

setTimeout(function(){
    ready = true;
}, 2000);
 
// configuration of the observer:
var config = { childList: true };
 
// pass in the target node, as well as the observer options
observer.observe(target, config);