// select the target node
var target = document.querySelector('#betstatus');

var ready = true;

// create an observer instance
var observer = new MutationObserver(function(mutations) {
  mutations.forEach(function(mutation) {
    var victor = $('#betstatus').html();
    if(victor.indexOf("wins!") != -1 && ready) {
      victor = $.trim(victor.substring(0, victor.indexOf("wins!")));
      var player1 = $('#sbettors1 .redtext strong').text();
      var player2 = $('#sbettors2 .bluetext strong').text()
      console.log( player1 + ' ' + player2 + ' ' + victor );
      $.post( '<%= ENV["SCRIPT_URL"] %>/webcalls/record_match', { player1: player1, player2: player2, victor: victor } );
      ready = false;
      setTimeout(function(){ready = true;}, 2000);
    }
  });    
});
setTimeout(function(){
    ready = true;
}, 2000);
 
// configuration of the observer:
var config = { childList: true };
 
// pass in the target node, as well as the observer options
observer.observe(target, config);