<ul class="nav nav-tabs">
  <li role="presentation" <%= current_page?("/") ? "class=active" : "" %>><a href="/">Home</a></li>
  <li role="presentation" <%= current_page?("/characters") ? "class=active" : "" %>><a href="/characters">Characters</a></li>
  <li role="presentation" <%= current_page?("/matches") ? "class=active" : "" %>><a href="/matches">Matches</a></li>
  <li role="presentation" <%= current_page?("/matchup") ? "class=active" : "" %>><a href="/matchup">Matchup</a></li>
</ul>