<!DOCTYPE html>
<html>
  <head>
    <title>Sup</title>
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container-fluid">
      <%= render "layouts/navbar" %>
      <!--<ol class="breadcrumb">-->
      <!--  <%= render_breadcrumbs :tag => :li, :separator => ">" %>-->
      <!--</ol>-->
      <!--<%= render_breadcrumbs :separator => " > " %>-->
      <%= yield %>
    </div>
    
    <%= javascript_include_tag("#{controller_name}", 'data-turbolinks-track' => true) %>
    
  </body>
</html>
